div{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
button{
    background-color: rgba(242, 226, 124, 0.294); 
    color: rgba(248, 0, 0, 0.681);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8rem;
    padding: 10px 40px;
    border-color: rgba(248, 0, 0, 0.681);
    border-width: 2px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease;
    
}

button:hover{
    background-color:rgba(195, 6, 6, 0.681) ;
    color:rgba(242, 226, 124);
}
