.flash-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999;
  background-color: transparent;
}


.flash-effect {
  animation: flash-animation 0.4s ease-in-out;
}

@keyframes flash-animation {
  0% {
    background-color: rgba(255, 255, 255, 1);
    opacity: 1;
  }
  100% {
    background-color: transparent;
    opacity: 0;
  }
}




div{
  width: 50vw;           
  aspect-ratio: 16 / 9;
  background: white;
  border-radius: 30px;
  box-shadow: 10px 20px 10px 10px rgba(0,0,0,0.05);
  overflow: hidden;
  position: relative;
}

#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  background-color: #000;
  transform: scaleX(-1);
}