.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    gap:3vh;
    
}

.grid-item {
  background-color: #6c1a1a6b;
  width: 10vw; 
  height: 14vh;
  border-radius: 3px;
}

.captured-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}